[Unit]
Description=Drawpile dedicated server socket
After=network.target

[Socket]
ListenStream=27750
# Adding a second port activates the web admin API:
ListenStream=27780
# Adding a third port activates the web client for 2.2.0 and above. 
ListenStream=27751

[Install]
WantedBy=sockets.target

